@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    width: 20rem;
    height: 30rem;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}
.card:hover {
    background-color: rgba(255, 255, 255, 0.681);
}
.card-top {
    height: 70%;
}
.card-top img {
    height: 100%;
}
.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card-bottom h2 {
    text-align: center;
}
button {
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
}